@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

html {
   scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display:flex;
}

h1 {
    font-size: 56px;
    color: white;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.2;
}

h2 {
    align-items: center;
    line-height: 1.3;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #5271ff;
    color: white;
    padding: 20px 34px;
    font-size: 20px;
    border-radius: 45px;
    border: none;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

.nav_links {
    margin-left: 16px;
    text-decoration: none;
    font-size: 19px;
    color:#5271ff;
    font-weight: bold;
    padding: 10px;
    list-style: none;
}

.nav_link:hover {
   text-decoration: underline;
}

.nav_link--primary {
    border: 2px solid #5271ff;
    border-radius: 36px;
}

.nav_link--primary:hover {
    text-decoration: underline;
}


/*
landing
*/


header {
  position: relative;
  min-height: 100vh;
  background-image: url('https://img.freepik.com/premium-photo/arafed-view-car-driving-beach-with-ocean-background-generative-ai_927978-4732.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white; /* Adjust based on your image */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Makes text readable over image */
}

/*
footer
*/

footer {
    background-color: #5271ff;
}